html {
    scroll-behavior: smooth;
  }

body {

    padding: 0;
    margin: 0;
}

nav {

    background-color: lightgray;
    color: white;
    padding: 20px 50px;

}

.nav-top {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search {

    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-input {

    border: none;
    background-color: transparent;

}

.search-input::placeholder {

    color: lightgray;
}

.nav-bottom {

    display: flex;
    align-items: center;
    justify-content: center;
}

.item-menu {

    margin-right: 50px;
    cursor: pointer;
    color: black; 
    font-weight: 300;
}


.slider {

    background-color: white;
    overflow: hidden;
}

.slider-wrapper {

    display: flex;
    width: 500vw;
}

.slider-item {

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.slider-background {

    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
}

.slider-img {

    z-index: 1;
}


.slider-title {

    position: absolute;
    top: 15%;
    right: 15%;
    font-size: 50px;
    font-weight: 800;
    color: Black;
    z-index: 1;
}

.slider-price {

    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    color: black;
    z-index: 1;
}

.buy-button {

    position: absolute;
    top: 50%;
    right: 18%;
    font-size: 40px;
    font-weight: 50;
    text-align: center;
    color: black;
    z-index: 1;
    cursor: pointer;
}
