html {
    scroll-behavior: smooth;
  }

body {

    padding: 0;
    margin: 0;
}

nav {

    background-color: #C4A484;
    color: white;
    padding: 20px 50px;

}

.nav-top {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search {

    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.search-input {

    border: none;
    background-color: transparent;

}

.search-input::placeholder {

    color: lightgray;
}

.nav-bottom {

    display: flex;
    align-items: center;
    justify-content: center;
}

.item-menu {

    margin-right: 50px;
    cursor: pointer;
    color: beige;
}

