* {

    margin: 0;
    padding: 0;

}

body {
    
    background-color: beige;

}

.nav-links {

        flex: 1;
        text-align: right;
        background-color: aqua;
        

}

.nav-links ul li {

    list-style: none;
    display: inline-block;
    padding: 15px 12px;
    position: relative;
}
